.dashboard {
  width: 100%;
  background: rgb(5, 24, 42);
  background: linear-gradient(
    180deg,
    rgba(5, 24, 42, 1) 13%,
    rgba(12, 21, 29, 1) 22%,
    rgba(18, 18, 18, 1) 100%
  );
  box-sizing: border-box;
  padding: 30px 50px;
  overflow: scroll;
}
