.searching--input {
  margin-bottom: 50px;
  padding: 10px 20px;
  color: #707274;
  font-size: 1em;
  border-radius: 15px;
  border: none;
}

.searching--input:focus-visible {
  outline: none;
}

.searching--results {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
